screenshots
saves
resourcepacks
mods
logs
downloads
.mixin.out
knownkeys.txt
minecraftinstance.json
options.txt
realms_persistence.json
usercache.json
usernamecache.json
.curseclient
config/tellme
crash-reports