screenshots
saves
resourcepacks
mods
logs
downloads
.mixin.out
knownkeys.txt
minecraftinstance.json
options.txtp
realms_persistence.json
usercache.json
usernamecache.json
.curseclient
config/tellme
crash-reports
config/jei/bookmarks.ini
patchouli_data.json